#header-global {   
   display: none !important;
}

.content-container
{
	margin-top: -15px !important;
	padding-top: 0px !important;
}

.settings-trigger {
    display: none !important;
}

.grid {
	box-sizing: border-box;
	padding: 0 !important;
}

.grid .grid-column-1-2:last-of-type, .grid .grid-column-1-3:last-of-type, .grid .grid-column-1-4:last-of-type, .grid .grid-column-1:last-of-type, .grid .grid-column-2-3:last-of-type, .grid .grid-column-3-4:last-of-type {
	padding-right: -10px !important;
}